{% extends 'base.html' %}

{% load humanize %}
{% block main %}

<div class="container-detail">

        <h1 class="center">{{ company_profile.name }}</h1>
        <a href="{% url 'edit_company_profile' company_profile.id %}" class="edit-icon tx-right">
            <i class="fa-regular fa-pen-to-square fa-lg"></i>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </a>

        <table class="client-table">
                <thead>
                    <tr>
                        <th>Dados da empresa</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
        <tbody>
            <tr>
                <th>CNPJ:</th>
                <td>{{ company_profile.cnpj }}</td>
            </tr>
            <tr>
                <th>Endereço:</th>
                <td>{{ company_profile.address }}</td>
            </tr>
            <tr>
                <th>CEP:</th>
                <td>{{ company_profile.zipcode }}</td>
            </tr>
        </tbody>
        </table>

</div>
{% endblock %}