@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: #4A4A4A;
}

form{
    display:flex;
    flex-direction: column;
}

/*
    SIDEBAR    SIDEBAR    SIDEBAR    SIDEBAR
*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 38px;
    background: #0540F2;
    padding: 6px 14px;
    z-index: 1;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.sidebar .logo_content .logo{
    color: #FFFFFF;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    transition: all 0.5s ease;
    opacity: 1;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn-menu{
    position: absolute;
    color: #FFFFFF;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn-menu{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;

    margin-left: -50px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 120px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #FFFFFF;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    transition: all 0.5s ease;
    pointer-events: auto;
    opacity: 1;
}

.sidebar ul li a{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #0540F2;
    background: #FFFFFF;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile_content .profile a #log_out{
    background: #0554F2;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    white-space: nowrap;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile a #log_out{
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height:50px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
    background: #0554F2;
    cursor: pointer;
}

.sidebar.active .profile a #log_out{
    left: 88%;
    background: none;
}

.page_content{
    position: relative;
    height: 100%;
    left: 120px;
    justify-content: center;
    width: calc(100% - 200px);
    transition: all 0.5s ease;
}


.sidebar.active ~ .page_content{
    transition: all 0.5s ease;
    left: 88%;
    width: calc(100% -440px);
    left: 340px;
}




/*
 LINKS LINKS LINKS LINKS LINKS LINKS
*/
a{
    text-decoration: none;
    color: black;
}



/*
 INPUT TEXTAREA
*/
textarea{
    font-family: Poppins;
    outline: none;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border:none;
    width: 25rem;
    height: 35px;
    background: #D8E3F2;
    margin-bottom: 20px;
    -webkit-appearance: none;
}

input{
    font-family: Poppins;
    outline: none;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border:none;
    width: 25rem;
    height: 35px;
    background: #D8E3F2;
    margin-bottom: 20px;
}

input[type='checkbox'] {
    width: 3rem;
 }

input:hover[type='checkbox'] {
    outline:none;
    cursor: pointer;
 }


input:focus[type='checkbox']{
    outline: 0;
    background: none;
}

/* HIDE SPIN BUTTON */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
    font-family: Poppins;
    font-style: italic;
}

input:required {
  border: 1px solid #0540F2;
}

.errorlist{
    margin: 0;
    margin-left: -35px;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    list-style-type: none;
    color: #0540F2;
}

input:focus, textarea:focus{
    outline: 2px solid #0540F2;
    background: none;
}

input:hover, textarea:focus{
    outline: 2px solid #0540F2;
}

textarea{
    min-width: 350px;
    min-height: 200px;
    padding-top: 10px;
}

select{
    outline: none;
    border-radius: 10px;
    padding-left: 1rem;
    border:none;
    width: 26rem;
    height: 2.5rem;
    background: #D8E3F2;
    margin-bottom: 30px;
    font-family: Poppins;
}

#id_items, #id_clausules{
    height: 5rem;
}
/*
 ICONS ICONS ICONS ICONS ICONS
*/
/* delete icon */
.fa-trash-can{
    color: #F25252;
    text-decoration: none;
    active: none;
}
.fa-trash-can{
    color: #F25252;
    text-decoration: none;
    active: none;
}

.delete-icon > .fa-regular + .fa-solid,
.delete-icon:hover > .fa-regular {
  display: none;
}
.delete-icon:hover > .fa-regular + .fa-solid {
  display: inline-block;
}

/* edit icon */
.fa-pen-to-square{
    color: #0540F2;
    text-decoration: none;
    active: none;
}
.fa-pen-to-square{
    color: #0540F2;
    text-decoration: none;
    active: none;
}

.edit-icon > .fa-regular + .fa-solid,
.edit-icon:hover > .fa-regular {
  display: none;
}
.edit-icon:hover > .fa-regular + .fa-solid {
  display: inline-block;
}



/*
BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS
*/
.btn{
    margin: 12px;
}

button{
    border-radius: 99px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    text-align: center;
    font-family: Poppins, sans-serif;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

/* add new clients button */
.add-new-client-btn .tooltip{
    opacity: 0;
    pointer-events: none;
}

.add-new-client-btn{
    width: 25px;
    height: 25px;
}

.add-new-client-btn:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.new-client-icon{
    background-color: #0540F2;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
}


.new-client-icon:hover{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 12px;
    color: #0540F2;
    outline: 1px solid #0540F2;

}

.add-new-client-btn .tooltip{
    position: relative;
    left: 120px;
    top: -25px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #FFFFFF;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #000000;
}


/* NEXT BTN */
.btn-next-icon{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 60px;
}

.btn-next-icon a:hover{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 100%;
    color: #0540F2;
    outline: 1px solid #0540F2;
}

.btn-next-icon a{
    justify-content:center;
    border-radius: 100%;
    font-size: 34px;
}

.btn-next-icon .tooltip{
    opacity: 0;
    pointer-events: none;
}

.btn-next-icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.btn-next-icon .tooltip{
    position: relative;
    left: -80px;
    top: -25px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #FFFFFF;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #000000;
}


/* PREVIOUS BTN */
.btn-prev-icon{
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 60px;
}

.btn-prev-icon:hover a{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 100%;
    color: #0540F2;
    outline: 1px solid #0540F2;
}

.btn-prev-icon a{
    justify-content:center;
    border-radius: 100%;
    font-size: 34px;
}

.btn-prev-icon .tooltip{
    opacity: 0;
    pointer-events: none;
}

.btn-prev-icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.btn-prev-icon .tooltip{
    position: relative;
    left: 160px;
    top: -25px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 200px;
    background: #FFFFFF;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: #000000;
}

/*LOGIN BUTTON*/
.btn-login{
    background-color: #0540F2;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-login:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}

/*LOGOUT BUTTON*/
.btn-logout{
    background-color: #F25252;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #F25252;
}

.btn-logout:hover{
    background-color: #FFFFFF;
    color: #F25252;
    border: 2px solid #F25252;
}

/* CONFIRM BUTTON */
.btn-confirm{
    background-color: #0540F2;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-confirm:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}

/* NEXT AND PREV BUTTON */
.btn-next{
    background-color: #0540F2;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-next:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}

.btn-prev{
    background-color: #0540F2;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-prev:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}

/*
    CONTAINER CONTAINER CONTAINER CONTAINER
*/

.container {
    display:flex;
    justify-content: center;
    margin-top: 4rem;
    column-gap: 4rem;
    width: 100%;
}

.container-form{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FBFBFB;
    width: 35rem;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.container-list{
    padding: 2rem;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.container-login{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FBFBFB;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.container-login h2{
    justify-content: left;
}

.container-descript{
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
}

.h2-containter{
    text-align: left;
    width: 80%;
}

.img-form{
    width: 400px;
    justify-content: center;
}



/*
    LABEL   LABEL   LABEL   LABEL
*/
label{
    font-weight: 500;
}



/*
    TABLE TABLE TABLE TABLE
*/
.client-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 90%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.client-table thead tr{
    background-color: #D8E3F2;
    text-align: left;
    font-weight: bold;
}

.client-table tbody tr{
    border-bottom: 1px solid #E8E8E8;
}


.client-table tbody tr:nth-of-type(even){
    background-color: #F9F9F9;
}

.client-table tbody tr:last-of-type{
    border-bottom: 2px solid #D8E3F2;
}

.client-table th,
.client-table td{
    padding: 12px 15px;
}

.pending-a{
    color: #F25252;
    font-weight: 600;
}

a .received{
    font-weight: 500;
}



/*
    INFOBOX    INFOBOX    INFOBOX    INFOBOX
*/
.info-box{
    background-color: #FBFBFB;
    width: 250px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

.h1-info-total{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    color: #0540F2;
}

.h2-info-total{
    padding: 0;
    padding-right: 15px;
    margin: 0;
    float: right;
    margin-left: auto;
}

.h3-info-total{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
}

.h4-info-total{
    padding: 0;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}

.received{
    color: #0540F2;
}

.pending{
    color: #F25252;
}

.box-row{
    width: 100%;
    display: flex;
    column-gap: 120px;
    align-items: center;
    justify-content: center;
}



/* CALENDAR */

.calendar {
  width: 90%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid #D8E3F2;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar .calendar-td {
  width: 200px;
  height: 100px;
  padding: 20px 10px 0px 0px;
}

.month {
  font-size: 25px;
}

.date {
  padding-left: 10px;
  font-size: 16px;
  color: #5E9FF2;
  float: right;
}

.calendar-ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}


.container-date{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FBFBFB;
    width: 90%;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    flex-direction: column;
}

.container-date h2{
    display:flex;
    justify-content: center;
    align-items: center;
}


.calendar-li{
    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    margin-left: -15px;
    border-radius: 5px;
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.starting{
    background-color: #D8E3F2;
    color: #0540F2;
}

.ending{
    color: #FFFFFF;
    background-color: #F25252;
}

.paying{
    color: #373737;
    background-color: #22F29B;
}

.calendar-li .calendar-p {
    font-size:10px;
    margin: 2px;
}

.guide-color {
    height: 20px;
    width: 20px;
    border-radius: 99px;
    background-color: red;
    margin-right: 10px;
}

.guide-li {
    display: flex;
    list-style-type: none;
    white-space:nowrap;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.container-date .guide-ul{
    justify-content: center;
    display: flex;
    padding: 10px;
}


/* FLOAT TAG */
.right{
    float: right;
}



/* COLORS */
.light-blue {
    background-color: #D8E3F2;
}

.red {
    background-color: #F25252;
}

.green {
    background-color: #22F29B;
}



/* DASHBOARD */
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    width: 100%;
    row-gap: 30px;
    justify-content: center;
}

.md{
    width: 527px;
    height: 250px;
}

.lg{
    width: 527px;
    height: 530px;
}

.chart-md{
    width: 90%;
}


.container-detail{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 2rem;
}

.container-detail .client-table{
    align-items: center;
    table-layout: fixed;
    justify-content: center;
}


.container-detail h3{
    text-align: center;
    align-items: center;
    justify-content: center;
}


.container-detail .subheader{
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-top: 12px;
    margin-bottim: 12px;
}

.container-detail p{
    margin-top: 3px;
    margin-bottim: 3px;
    display: inline-block;
    vertical-align: top;
}
.bolded {
    font-weight: bold;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.hr-full{
    bcolor: gray;
    width: 100%;
}

.hr-signature{
    border: 1px solid gray;
    border-width: 1px;
    width: 300px;
}

.container .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .center{
    margin-top: 60px;
}