{% extends 'base.html' %}

{% block main %}

<div class="container">

    {% if user.id == client.user.id %}

        <div class="container-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-confirm">Confirmar</button>
            </form>
        </div>

        <div class="container-descript">
            <h2 class="h2-containter">Edite aqui os dados de seus clientes!</h2>
            <img src="https://i.ibb.co/pX0bq35/Illustration.png" class="img-form">
        </div>

    {% else %}
        <h2>Você não está autorizado a acessar esta página.</h2>
    {% endif %}
</div>

{% endblock %}