{% extends 'base.html' %}

{% block main %}
    {% if user.id == client.user.id %}

        <h1>Você gostaria de deletar {{ client.company_name }} ?</h1>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit">Deletar</button>
            </form>
            <br>
            <a href="{% url 'companies_list' %}"><button>Cancelar</button></a>

    {% else %}
        <h2>Você não está autorizado a acessar esta página.</h2>
    {% endif %}
{% endblock %}