{% extends 'base.html' %}

{% load humanize %}
{% block main %}

<div class="container-detail">

        <h1>{{ client.first_name }} {{ client.last_name }}</h1>
        <table class="detail client-table">
                <thead>
                    <tr>
                        <th>Client data</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
        <tbody>
            <tr>
                <th>Client CPF:</th>
                <td>{{ client.cpf }}</td>
            </tr>

            <tr>
                <th>Phone:</th>
                    <td>{{ client.phone }}</td>
                <th>Email:</th>
                    <td>{{ client.email }}</td>
            </tr>

            <tr>
                <th>Company:</th>
                    <td>{{ client.person_company }}</td>
            </tr>

            <tr>
                <th>Total pending payments:</th>
                    <td class="pending-a">{{ total_received|intcomma }}</td>

                <th>Total received payments:</th>
                <td class="received">{{ total_pending|intcomma }}</td>
            </tr>

            <tr>
                <th>Client description:</th>
                <td>{{ client.description }}</td>
            </tr>

        </tbody>
        </table>

        <table class="client-table">

                <thead>
                    <tr>
                        <th>File name</th>
                        <th>Company</th>
                        <th>Client</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for file in client_files %}
                    <tr>
                        <!-- NAME -->
                        <td>
                            <a href="#">{{ file.name }}</a>
                        </td>
                        <!-- Company -->
                        <td>
                            <a href="#">{{ file.client_company }}</a>
                        </td>
                        <!-- Person -->
                        <td>
                            <a href="#">{{ file.client_person }}</a>
                        </td>

                        <!-- OPTIONS -->
                        <td>
                            <a href="#" class="edit-icon">
                                <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>

                            <a href="{% url 'delete_file' file.id %}" class="delete-icon">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_file_detail' client.id %}" class="new-client-icon">
                    <i class="fa-solid fa-paperclip"></i>
                </a>
                <span class="tooltip">Add file</span>
            </div>

</div>
{% endblock %}