{% extends 'base.html' %}

{% load humanize %}
{% block main %}

<div class="container-detail">

        <h1>{{ client.first_name }} {{ client.last_name }}</h1>
        <table class="client-table">
                <thead>
                    <tr>
                        <th>Dados do cliente</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
        <tbody>
            <tr>
                <th>CPF:</th>
                <td>{{ client.cpf }}</td>
            </tr>

            <tr>
                <th>Telefone:</th>
                    <td>{{ client.phone }}</td>
                <th>Email:</th>
                    <td>{{ client.email }}</td>
            </tr>

            <tr>
                <th>Company:</th>
                    <td>{{ client.person_company }}</td>
            </tr>

            <tr>
                <th>Pagamentos pendentes:</th>
                    <td class="pending-a">R$ {{ total_received|intcomma }}</td>

                <th>Pagamentos recebidos:</th>
                <td class="received">R$ {{ total_pending|intcomma }}</td>
            </tr>

        </tbody>
        </table>

        <h3 style="text-align:left;">Descrição: </h3>
        <p class="description">{{ client.description }}</p>

        <h3>Lista de arquivos do cliente</h3>
        <table class="client-table" style="margin-top:-10px">
                <thead>
                    <tr>
                        <th>Nome do arquivo</th>
                        <th>Empresa</th>
                        <th>Pessoa</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for file in client_files %}
                    <tr>
                        <!-- NAME -->
                        <td>
                            <a href="#">{{ file.name }}</a>
                        </td>
                        <!-- Company -->
                        <td>
                            <a href="#">{{ file.client_company }}</a>
                        </td>
                        <!-- Person -->
                        <td>
                            <a href="#">{{ file.client_person }}</a>
                        </td>

                        <!-- OPTIONS -->
                        <td>
                            <a href="#" class="edit-icon">
                                <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>

                            <a href="{% url 'delete_file' file.id %}" class="delete-icon">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>



            <div class="add-new-client-btn" style="margin-bottom: 60px;">
                <a href="{% url 'new_file_detail' client.id %}" class="new-client-icon">
                    <i class="fa-solid fa-paperclip"></i>
                </a>
                <span class="tooltip">Add file</span>
            </div>





            <table class="client-table" style="margin-top:-10px">
            <h3 >Contract list</h3>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Client</th>
                        <th>Contract name</th>
                        <th>Days since start</th>
                        <th>Payment date</th>
                        <th>Invoice</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for contract in contracts %}
                    <tr>
                        <!-- NAME -->
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">{{ contract.get_status_display }}</a>
                        </td>

                        <!-- Client (Displays mainly the company client) -->
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">
                                {% if contract.company_client  %}
                                    {{ contract.company_client }}
                                {% elif contract.person_client  %}
                                    {{ contract.person_client }}
                                {% elif contract.person_client and contract.company_client %}
                                    {{ contract.company_client }}
                                {% else %}
                                    -
                                {% endif %}
                            </a>
                        </td>

                        <!-- Client (Displays mainly the company client) -->
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">
                                {% if contract.contract_name  %}
                                    {{ contract.contract_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">
                                {% if contract.status == 'PN'  %}
                                    {{ today |timeuntil:contract.starting_date  }}
                                {% elif contract.status == 'PD'  %}
                                    Payd
                                {% else %}
                                    Canceled
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">
                                {% if contract.status == 'PD'  %}
                                    {{ contract.payment_date }}
                                {% else %}
                                    -
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}">
                                {% if contract.invoice  %}
                                    {{ contract.invoice }}
                                {% else %}
                                    -
                                {% endif %}
                            </a>
                        </td>


                        <!-- OPTIONS -->
                        <td>
                            <a href="{% url 'edit_contract' contract.id %}" class="edit-icon">
                                <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>

                            <a href="{% url 'delete_contract' contract.id %}" class="delete-icon">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn" style="margin-bottom:30px;">
                <a href="{% url 'new_contract' %}" class="new-client-icon">
                <i class="fa-solid fa-file-circle-plus"></i>
                </a>
                <span class="tooltip">Add contract</span>
            </div>
</div>
{% endblock %}