{% extends 'base.html' %}

{% load humanize %}

{% block title %}
Client person List
{% endblock %}

{% block main %}

    <div class="box-row" id="two">
        <!-- Active customers -->
        <div class="info-box">
            <h3 class="h3-info-total">Person clients</h3>
            <h1 class="h1-info-total">{{ client_count }}</h1>
        </div>

        <!-- Pending amount -->
        <div class="info-box">
            <h3 class="h3-info-total">Pending amount</h3>
            <h2 class="h2-info-total pending">R$ {{ pending_payments_total|floatformat:2|intcomma }}</h2>
        </div>

        <!-- Received amount -->
        <div class="info-box">
            <h3 class="h3-info-total">Received amount</h3>
            <h2 class="h2-info-total received">R$ {{ received_payments_total|floatformat:2|intcomma }}</h2>
        </div>


    </div>


    <div class="container">
        <div class="container-list" id="one">

            <h2>Client person list</h2>


<!--            <div class="add-new-client-btn">-->
<!--                <a href="{% url 'new_client_company' %}" class="new-client-icon">-->
<!--                    <i class="fa-solid fa-user-plus"></i>-->
<!--                </a>-->
<!--                <span class="tooltip">Add client</span>-->
<!--            </div>-->

            <table class="client-table">

                <thead>
                    <tr>
                        <th>Client name</th>
                        <th>Client CPF</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Pending payments</th>
                        <th>Received payments</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for client in clients %}
                    <tr>
                        <!-- NAME -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}">{{ client.first_name }} {{ client.last_name }}</a>
                        </td>

                        <!-- CPF -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}">{{ client.cpf }}</a>
                        </td>

                        <!-- PHONE -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}">
                                {% if client.phone %} {{client.phone}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- EMAIL -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}">
                                {% if client.email %} {{client.email}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- COMPANY -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}">
                                {% if client.person_company %} {{client.person_company}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- PENDING PAYMENTS -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}" class="pending-a">
                                {% if client.pending_payments %} {{ client.pending_payments|floatformat:2|intcomma }} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- RECEIVED PAYMENTS -->
                        <td>
                            <a href="{% url 'detail_client_person' client.id %}" class="received">
                                {% if client.received_payments %} {{client.received_payments|floatformat:2|intcomma}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- OPTIONS -->
                        <td>
                            <a href="{% url 'edit_client_person' client.id %}" class="edit-icon">
                                <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>

                            <a href="{% url 'delete_client_person' client.id %}" class="delete-icon">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_client_person' %}" class="new-client-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
                <span class="tooltip">Add client</span>
            </div>

        </div>
    </div>


{% endblock %}