{% extends 'base.html' %}

{% block title %}
Companies List
{% endblock %}


{% block main %}

    <div class="box-row">
        <!-- Active customers -->
        <div class="info-box">
            <h3 class="h3-info-total">Person clients</h3>
            <h1 class="h1-info-total">{{ client_count }}</h1>
        </div>

        <!-- Pending amount -->
        <div class="info-box">
            <h3 class="h3-info-total">Pending amount</h3>
            <h4 class="h4-info-total pending">R$</h4>
            <h2 class="h2-info-total pending">{{ pending_payments_total|floatformat:2 }}</h2>
        </div>

        <!-- Received amount -->
        <div class="info-box">
            <h3 class="h3-info-total">Received amount</h3>
            <h4 class="h4-info-total received">R$</h4>
            <h2 class="h2-info-total received">{{ received_payments_total|floatformat:2 }}</h2>
        </div>

    </div>

    <div class="container">
        <div class="container-list">

            <h2>Client companies list</h2>

<!--            <div class="add-new-client-btn">-->
<!--                <a href="{% url 'new_client_company' %}" class="new-client-icon">-->
<!--                    <i class="fa-solid fa-user-plus"></i>-->
<!--                </a>-->
<!--                <span class="tooltip">Add client</span>-->
<!--            </div>-->

            <table class="client-table">

                <thead>
                    <tr>
                        <th>Company name</th>
                        <th>Company cnpj</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Pending payments</th>
                        <th>Received payments</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for client in clients %}
                    <tr>
                        <!-- NAME -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}">{{ client.company_name }}</a>
                        </td>

                        <!-- CNPJ -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}">{{ client.company_cnpj }}</a>
                        </td>

                        <!-- PHONE -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}">
                                {% if client.phone %} {{client.phone}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- EMAIL -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}">
                                {% if client.email %} {{client.email}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- PENDING PAYMENTS -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}" class="pending-a">
                                {% if client.pending_payments %} {{client.pending_payments}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- RECEIVED PAYMENTS -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}" class="received">
                                {% if client.received_payments %} {{client.received_payments}} {% else %} &nbsp; {% endif %}
                            </a>
                        </td>

                        <!-- OPTIONS -->
                        <td>
                            <a href="{% url 'edit_client_company' client.id %}" class="edit-icon">
                                <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>

                            <a href="{% url 'delete_client_company' client.id %}" class="delete-icon">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_client_company' %}" class="new-client-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
                <span class="tooltip">Add client</span>
            </div>

        </div>
    </div>
{% endblock %}