{% extends 'base.html' %}

{% block title %}
Companies List
{% endblock %}


{% block main %}

    <ul>
        {% for client in clients %}

            <li>
                <a href="{% url 'edit_client_company' client.id %}">{{ client.company_name }}</a>

                <!-- EDIT -->
                <a href="{% url 'edit_client_company' client.id %}" class="edit-icon">
                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </a>

                <!-- DELETE -->
                <a href="{% url 'delete_client_company' client.id %}" class="delete-icon">
                    <i class="fa-regular fa-trash-can fa-lg"></i>
                    <i class="fa-solid fa-trash-can fa-lg"></i>
                </a>

            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'new_client_company' %}">New client</a>


{% endblock %}