{% extends 'logged_out.html' %}

{% load mathfilters %}
{% load humanize %}
{% block title %}Contract detail{% endblock %}


{% block main %}
<style>
    @page {
        @frame content_frame {          /* Content Frame */
            left: 45px; right: 45px; width: 512pt; top: 60px; bottom: 60px;
        }
    }

    html {
      font-size: 12px;
      font-weight: normal;
      color: #292929;
    }

    h1{
        color: #212121;
        font-family: "Gotham";
    }

    table, th, td {
        border: 1px solid;
        border-color: #262626;
        text-align: center;
        padding-top: 3px;
    }

    .no-row {
        border: 0px;
        text-align: center;
        padding-top: 3px;
    }

    .bottom{
        height: 50px;
        border-color: #FFFFFF;
        border-bottom: 1px solid #262626;
        white-space: 50px;
    }

    .highlight{
        background-color: #C8C8C8;
    }

    .bolded{
        font-weight: 500;
    }

    .detail{
        margin-left: 30px;
    }

    .center{
        text-align: center;
    }

    ol li {
        display: block;
    }

    ol li:before {
        content: counters(item, ".") " ";
    }

    img {
        zoom: 5%;
    }

    #detail-pdf {
        margin-top: 30px;
    }

</style>


<div class="container-detail">

        <img clas="logo" src="{{ STATIC_ROOT }}{{ profile.logo.url }}">

        <h1 id="detail-pdf">{{ contract }}</h1>


        <h2>{{ company_profile.name }}</h2>
        <p><span class="bolded">CNPJ: </span>{{ company_profile.cnpj }}</p>
        <p><span class="bolded">Endereço: </span>{{ company_profile.address }}</p>
        <p><span class="bolded">CEP: </span>{{ company_profile.zipcode }}</p>


        <div><hr class="hr-full"></div>


<!--  DISPLAY THE CLIENT DATA   -->
        <h2 style="font-family:">Dados do cliente:</h2>
        {% if contract.work_order.company_client %}
        <h3 class="subheader">Empresa: </h3>
            <div class="detail">
                <p><span class="bolded">Nome da empresa: </span>{{ contract.work_order.company_client.company_name }}</p>
                <p><span class="bolded">CNPJ: </span>{{ contract.work_order.company_client.company_cnpj }}</p>
                {% if contract.work_order.company_client.phone %}
                    <p><span class="bolded">Telefone: </span>{{ contract.work_order.company_client.phone }}</p>
                {% endif %}
                {% if contract.work_order.company_client.email %}
                    <p><span class="bolded">Email: </span>{{ contract.work_order.company_client.email }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if contract.work_order.person_client %}
        <h3 class="subheader">Person client: </h3>
            <div class="detail">
                <p><span class="bolded">Nome: </span>{{ contract.work_order.person_client.first_name }} {{ contract.work_order.person_client.last_name }}</p>
                <p><span class="bolded">CPF: </span>{{ contract.work_order.person_client.cpf }}</p>
                {% if contract.work_order.person_client.phone %}
                    <p><span class="bolded">Telefone: </span>{{ contract.work_order.person_client.phone }}</p>
                {% endif %}
                {% if contract.work_order.person_client.email %}
                    <p><span class="bolded">Email: </span>{{ contract.work_order.person_client.email }}</p>
                {% endif %}
            </div>
        {% endif %}


    <div><hr class="hr-full"></div>


<!--  CONTRACT DESCRIPTION -->
        <h2>Descrição do contrato</h2>
        <div class="detail">
            <p>{{ contract.work_order.description }}</p>
        </div>

    <div><hr class="hr-full"></div>


<!-- DISPLAY ALL THE ITEMS FROM THE CONTRACT -->
    <div>


        <h2>Contract items</h2>
                <table>
                    <thead>
                        <tr class="highlight">
                            <th>Nome do item</th>
                            <th>Valor do item</th>
                            <th>Quantidade</th>
                            <th>Unidade de medida</th>
                            <th>Tipo</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in contract_items %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>R$ {{ item.item_value|floatformat:2|intcomma }}</td>
                                <td>{{ item.item_qt|floatformat:2|intcomma }}</td>
                                <td>{{ item.unity }}</td>
                                <td>{{ item.item_type }}</td>
			                    <td>R$ {{item.item_value|mul:item.item_qt|floatformat:2|intcomma}}</td>
                            </tr>
                        {% endfor %}
                            <tr class="highlight">
                                <td style="border: 0px ;">Valor total dos itens</td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;" class="bolded">R$ {{ total|floatformat:2|intcomma }}</td>
                            </tr>
                    </tbody>
                </table>



<!-- DISPLAY ALL THE CLAUSULES OF THE CONTRACT -->
        <h2>Cláusulas do contrato</h2>
            <div class="detail">
                <ol>
                    {% for clausule in contract_clausules %}

                        <li>{{ clausule }}
                            <ol>
                                <li>{{ clausule.clausule_description }}</li>
                            </ol>
                            <br>
                        </li>
                    {% endfor %}
                </ol>
            </div>
    <div><hr class="hr-full"></div>

<!--    CONTRACT DATES    -->

            <div id="dates">
                <h2>Datas do contrato</h2>
                <div class="detail">
                    <p><span class="bolded">Início: </span>{{ contract.work_order.starting_date }}</p>
                    <p><span class="bolded">Fim: </span>{{ contract.work_order.ending_date }}</p>
                    <p><span class="bolded">Data de pagamento: </span>{{ contract.work_order.payment_date }}</p>
                </div>
            </div>

<!--    COMPANY SIGNATURE    -->
            <div><hr class="hr-full"></div>

            <h1 class="center">Assinaturas</h1>

            <table class="no-row">
                <thead>
                    <tr class="no-row">
                        <td class="bottom"></td>
                        <td class="no-row"></td>
                        <td class="bottom"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-row">
                        <td class="bolded no-row">{{ user }}</td>
                        <td class="no-row"></td>
                        <td class="bolded no-row">{{ contract.work_order.person_client.first_name }} {{ contract.work_order.person_client.last_name }}</td>
                    </tr>
                    <tr class="no-row">
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF: <span class="bolded">{{ user.full_name }}</span></td>
                        <td class="no-row"></td>
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF: <span class="bolded">{{ contract.work_order.person_client.cpf }}</span></td>
                    </tr>

                    <tr>
                        <td class="bottom"></td>
                        <td class="no-row"></td>
                        <td class="bottom"></td>
                    </tr>

                    <tr class="no-row ">
                        <td class="bolded no-row">Testemunha</td>
                        <td class="no-row"></td>
                        <td class="bolded no-row">Testemunha</td>
                    </tr>

                    <tr class="no-row ">
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF:</td>
                        <td class="no-row"></td>
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF:</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}