{% extends 'logged_out.html' %}

{% load humanize %}
{% block title %}Contract detail{% endblock %}
{% block main %}
{% load mathfilters %}
<div class="container-detail">


        <h1 id="detail-pdf">{{ contract.original_contract.contract_name }}</h1>
        <h2>{{ user.full_name }}</h2>


        <div><hr class="hr-full"></div>


<!--  DISPLAY THE CLIENT DATA   -->
        <h2>Client data:</h2>
        {% if contract.original_contract.company_client %}
        <h3 class="subheader">Company client: </h3>
            <p><span class="bolded">Company name: </span>{{ contract.original_contract.company_client.company_name }}</p>
            <p><span class="bolded">CNPJ: </span>{{ contract.original_contract.company_client.company_cnpj }}</p>
            {% if contract.original_contract.company_client.phone %}
                <p><span class="bolded">Phone: </span>{{ contract.original_contract.company_client.phone }}</p>
            {% endif %}
            {% if contract.original_contract.company_client.email %}
                <p><span class="bolded">Email: </span>{{ contract.original_contract.company_client.email }}</p>
            {% endif %}
        {% endif %}
        {% if contract.original_contract.person_client %}
        <h3 class="subheader">Person client: </h3>
            <p><span class="bolded">Name: </span>{{ contract.original_contract.person_client.first_name }} {{ contract.original_contract.person_client.last_name }}</p>
            <p><span class="bolded">CPF: </span>{{ contract.original_contract.person_client.cpf }}</p>
            {% if contract.original_contract.person_client.phone %}
                <p><span class="bolded">Phone: </span>{{ contract.original_contract.person_client.phone }}</p>
            {% endif %}
            {% if contract.original_contract.person_client.email %}
                <p><span class="bolded">Email: </span>{{ contract.original_contract.person_client.email }}</p>
            {% endif %}
        {% endif %}


    <div><hr class="hr-full"></div>


<!--  CONTRACT DESCRIPTION -->
        <h2>Contract description</h2>
        <p>
            {{ contract.original_contract.description }}
        </p>


    <div><hr class="hr-full"></div>


<!-- DISPLAY ALL THE ITEMS FROM THE CONTRACT -->
    <div id="item_table">


        <h2>Contract items</h2>
                <table class="client-table" name="item_table">
                    <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Item value</th>
                            <th>Quantity</th>
                            <th>Unity</th>
                            <th>Type</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in contract_items %}
                            <tr class="line_items">
                                <td>{{ item }}</td>
                                <td>{{ item.item_value }}</td>
                                <td>{{ item.item_qt }}</td>
                                <td>{{ item.unity }}</td>
                                <td>{{ item.item_type }}</td>
			                    <td>{{item.item_value|mul:item.item_qt}}</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td class="bolded">Items total value</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ total }}</td>
                            </tr>
                    </tbody>
                </table>



<!-- DISPLAY ALL THE CLAUSULES OF THE CONTRACT -->
        <h2>Contract clausules</h2>
            <ol>
                {% for clausule in contract_clausules %}
                    <li>{{ clausule }}
                        <ol>
                            <li>{{ clausule.clausule_description }}</li>
                        </ol>
                        <br>
                    </li>
                {% endfor %}
            </ol>

    <div><hr class="hr-full"></div>

<!--    CONTRACT DATES    -->


            <h2>Contract dates</h2>
            <p>{{ contract.original_contract.starting_date }}</p>
            <p><span class="bolded">Ending date: </span>{{ contract.original_contract.ending_date }}</p>
            <p><span class="bolded">Payment date date: </span>{{ contract.original_contract.payment_date }}</p>


<!--    COMPANY SIGNATURE    -->
            <div><hr class="hr-full"></div>


            <h3>Signatures</h3>
            <div class="container center">
                <div class="column center">
                    <p class="hr-signature"></p>
                    <span class="bolded">{{ user.full_name }}</span>
                    <span>{{ user }}</span>
                </div>
                <div class="column center">
                    <p class="hr-signature"></p>
                    <span class="bolded">{{ contract.original_contract.person_client.first_name }} {{ contract.original_contract.person_client.last_name }}</span>
                    <span>{{ contract.original_contract.person_client.cpf }}</span>
                </div>
            </div>
            <div class="container center">
                <div class="column center">
                    <p class="hr-signature"></p>
                    <span class="bolded">Witness</span>
                </div>
                <div class="column center">
                    <p class="hr-signature"></p>
                    <span class="bolded">Witness</span>
                </div>
            </div>


    </div>
</div>
{% endblock %}