{% extends 'logged_out.html' %}

{% load mathfilters %}
{% load humanize %}
{% block title %}Contract detail{% endblock %}


{% block main %}
<style>
    @page {
        @frame content_frame {          /* Content Frame */
            left: 45px; right: 45px; width: 512pt; top: 60px; bottom: 60px;
        }
    }

    html {
      font-size: 12px;
      font-weight: normal;
      color: #4A4A4A;
    }

    h1{
        color: #0540F2;
        font-family: "Gotham";
    }

    table, th, td {
        border: 1px solid;
        border-color: #0540F2;
        text-align: center;
        padding-top: 3px;
    }

    .no-row {
        border: 0px;
        text-align: center;
        padding-top: 3px;
    }

    .bottom{
        height: 50px;
        border-color: #FFFFFF;
        border-bottom: 1px solid #0540F2;
        white-space: 50px;
    }

    .highlight{
        background-color: #c1cef5;
    }

    .bolded{
        font-weight: 500;
    }

    .detail{
        margin-left: 30px;
    }

    .center{
        text-align: center;
    }

    ol li {
        display: block;
    }

    ol li:before {
        content: counters(item, ".") " ";
    }

</style>


<div class="container-detail">


        <h1 id="detail-pdf">{{ contract.work_order.contract_name }}</h1>
        <h2>{{ user.full_name }}</h2>


        <div><hr class="hr-full"></div>


<!--  DISPLAY THE CLIENT DATA   -->
        <h2 style="font-family:">Client data:</h2>
        {% if contract.work_order.company_client %}
        <h3 class="subheader">Company client: </h3>
            <div class="detail">
                <p><span class="bolded">Company name: </span>{{ contract.work_order.company_client.company_name }}</p>
                <p><span class="bolded">CNPJ: </span>{{ contract.work_order.company_client.company_cnpj }}</p>
                {% if contract.work_order.company_client.phone %}
                    <p><span class="bolded">Phone: </span>{{ contract.work_order.company_client.phone }}</p>
                {% endif %}
                {% if contract.work_order.company_client.email %}
                    <p><span class="bolded">Email: </span>{{ contract.work_order.company_client.email }}</p>
                {% endif %}
            </div>
        {% endif %}
        {% if contract.work_order.person_client %}
        <h3 class="subheader">Person client: </h3>
            <div class="detail">
                <p><span class="bolded">Name: </span>{{ contract.work_order.person_client.first_name }} {{ contract.work_order.person_client.last_name }}</p>
                <p><span class="bolded">CPF: </span>{{ contract.work_order.person_client.cpf }}</p>
                {% if contract.work_order.person_client.phone %}
                    <p><span class="bolded">Phone: </span>{{ contract.work_order.person_client.phone }}</p>
                {% endif %}
                {% if contract.work_order.person_client.email %}
                    <p><span class="bolded">Email: </span>{{ contract.work_order.person_client.email }}</p>
                {% endif %}
            </div>
        {% endif %}


    <div><hr class="hr-full"></div>


<!--  CONTRACT DESCRIPTION -->
        <h2>Contract description</h2>
        <div class="detail">
            <p>{{ contract.work_order.description }}</p>
        </div>

    <div><hr class="hr-full"></div>


<!-- DISPLAY ALL THE ITEMS FROM THE CONTRACT -->
    <div>


        <h2>Contract items</h2>
                <table>
                    <thead>
                        <tr class="highlight">
                            <th>Item name</th>
                            <th>Item value</th>
                            <th>Quantity</th>
                            <th>Unity</th>
                            <th>Type</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in contract_items %}
                            <tr>
                                <td>{{ item }}</td>
                                <td>R$ {{ item.item_value|floatformat:2|intcomma }}</td>
                                <td>{{ item.item_qt|floatformat:2|intcomma }}</td>
                                <td>{{ item.unity }}</td>
                                <td>{{ item.item_type }}</td>
			                    <td>R$ {{item.item_value|mul:item.item_qt|floatformat:2|intcomma}}</td>
                            </tr>
                        {% endfor %}
                            <tr class="highlight">
                                <td style="border: 0px ;">Items total value</td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;"></td>
                                <td style="border: 0px ;" class="bolded">R$ {{ total|floatformat:2|intcomma }}</td>
                            </tr>
                    </tbody>
                </table>



<!-- DISPLAY ALL THE CLAUSULES OF THE CONTRACT -->
        <h2>Contract clausules</h2>
            <div class="detail">
                <ol>
                    {% for clausule in contract_clausules %}

                        <li>{{ clausule }}
                            <ol>
                                <li>{{ clausule.clausule_description }}</li>
                            </ol>
                            <br>
                        </li>
                    {% endfor %}
                </ol>
            </div>
    <div><hr class="hr-full"></div>

<!--    CONTRACT DATES    -->

            <div id="dates">
                <h2>Contract dates</h2>
                <div class="detail">
                    <p><span class="bolded">Starting date: </span>{{ contract.work_order.starting_date }}</p>
                    <p><span class="bolded">Ending date: </span>{{ contract.work_order.ending_date }}</p>
                    <p><span class="bolded">Payment date date: </span>{{ contract.work_order.payment_date }}</p>
                </div>
            </div>

<!--    COMPANY SIGNATURE    -->
            <div><hr class="hr-full"></div>

            <h1 class="center">Signatures</h1>

            <table class="no-row">
                <thead>
                    <tr class="no-row">
                        <td class="bottom"></td>
                        <td class="no-row"></td>
                        <td class="bottom"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-row">
                        <td class="bolded no-row">{{ user }}</td>
                        <td class="no-row"></td>
                        <td class="bolded no-row">{{ contract.work_order.person_client.first_name }} {{ contract.work_order.person_client.last_name }}</td>
                    </tr>
                    <tr class="no-row">
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF: <span class="bolded">{{ user.full_name }}</span></td>
                        <td class="no-row"></td>
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF: <span class="bolded">{{ contract.work_order.person_client.cpf }}</span></td>
                    </tr>

                    <tr>
                        <td class="bottom"></td>
                        <td class="no-row"></td>
                        <td class="bottom"></td>
                    </tr>

                    <tr class="no-row ">
                        <td class="bolded no-row">Witness</td>
                        <td class="no-row"></td>
                        <td class="bolded no-row">Witness</td>
                    </tr>

                    <tr class="no-row ">
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF:</td>
                        <td class="no-row"></td>
                        <td class="no-row" style="text-align: left; padding-left: 10px;">CPF:</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}