{% extends 'base.html' %}
{% load mathfilters %}

{% load humanize %}

{% block title %}
Companies List
{% endblock %}


{% block main %}

    <div class="box-row">
        <!-- Active customers -->
        <div class="info-box">
            <h3 class="h3-info-total">Contratos totais</h3>
            <h1 class="h1-info-total">{{ contracts_count }}</h1>
        </div>


        <div class="info-box">
            <h3 class="h3-info-total">Total recebido</h3>
            <h1 class="h1-info-total">R$ {{ total_value|floatformat:2|intcomma }}</h1>
        </div>

    </div>

    <div class="container">
        <div class="container-list">

            <h2>Lista de contratos</h2>

            <div>
                <form class="flex right" method="GET">
                        <span class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        {{ contract_filter.form.contract  }}
                        <div class="right">
                            <button class="btn-confirm right">Procurar</button>
                        </div>
                </form>
            </div>

            <table class="client-table">

                <thead>
                    <tr>
                        <th>Nome do contrato</th>
                        <th>Cliente</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Valor da ordem de serviço</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for qs in contract_filter.qs %}
                        {% for contract in contracts %}
                            {% if contract == qs %}
                            <tr>
                                <!-- NAME -->
                                <td>
                                    <a href="{% url 'detail_generated_contract' contract.id %}">{{ contract.contract_name }}</a>
                                </td>

                                <!-- Client (Displays mainly the company client) -->
                                <td>
                                        {% if contract.work_order.company_client  %}
                                            <a href="{% url 'detail_client_company' contract.work_order.company_client.id %}">
                                                {{ contract.work_order.company_client.company_name }}
                                            </a>
                                        {% elif contract.work_order.person_client  %}
                                            <a href="{% url 'detail_client_person' contract.work_order.person_client.id %}">
                                                {{ contract.work_order.person_client.fullname }}
                                            </a>
                                        {% elif contract.person_client and contract.work_order.company_client %}
                                            <a href="{% url 'detail_client_company' contract.work_order.company_client.id %}">
                                                {{ contract.work_order.company_client.company_name }}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </a>
                                </td>
                                <!-- STARTING DATE -->
                                <td>
                                    <a href="#">{{ contract.work_order.starting_date }}</a>
                                </td>
                                <!-- ENDING DATE -->
                                <td>
                                    <a href="#">{{ contract.work_order.ending_date }}</a>
                                </td>
                                <!-- TOTAL VALUE -->
                                <td>
                                    <a href="#" class="received">R$ {{ contract.work_order.value|floatformat:2|intcomma }}</a>
                                </td>



                                <!-- OPTIONS -->
                                <td>
                                    <a href="{% url 'contract_to_pdf' contract.id %}" class="edit-icon">
                                        <i class="fa-solid fa-print"></i>
                                    </a>

                                    <a href="{% url 'detail_generated_contract' contract.id %}" class="edit-icon">
                                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                    </a>

                                    <a href="{% url 'delete_gen_contract' contract.id %}" class="delete-icon">
                                        <i class="fa-regular fa-trash-can fa-lg"></i>
                                        <i class="fa-solid fa-trash-can fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_client_contract' %}" class="new-client-icon">
                <i class="fa-solid fa-file-circle-plus"></i>
                </a>
                <span class="tooltip">Adicionar contrato</span>
            </div>

        </div>
    </div>
{% endblock %}