{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
Companies List
{% endblock %}


{% block main %}

    <div class="box-row">
        <!-- Active customers -->
        <div class="info-box">
            <h3 class="h3-info-total">Itens totais</h3>
            <h1 class="h1-info-total">{{ items_count }}</h1>
        </div>

    </div>

    <div class="container">
        <div class="container-list">

            <h2>Lista de itens</h2>

            <div>
                <form class="flex right" method="GET">
                        <span class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        {{ item_filter.form.item  }}
                        <div class="right">
                            <button class="btn-confirm right">Procurar</button>
                        </div>
                </form>
            </div>

            <table class="client-table">

                <thead>
                    <tr>
                        <th>Nome do item</th>
                        <th>Tipo</th>
                        <th>Unidade</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                {% for qs in item_filter.qs %}
                    {% for item in items %}
                        {% if item == qs %}
                        <tr>
                            <!-- NAME -->
                            <td>
                                <a href="{% url 'edit_item' item.id %}">{{ item.item_name }}</a>
                            </td>

                            <!-- Item type -->
                            <td>
                                <a href="{% url 'edit_item' item.id %}">
                                    {{ item.get_item_type_display }}
                                </a>
                            </td>

                            <!-- Item unity -->
                            <td>
                                <a href="{% url 'edit_item' item.id %}">{{ item.unity }}</a>
                            </td>


                            <!-- OPTIONS -->
                            <td>
                                <a href="{% url 'edit_item' item.id %}" class="edit-icon">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                </a>

                                <a href="{% url 'delete_item' item.id %}" class="delete-icon">
                                    <i class="fa-regular fa-trash-can fa-lg"></i>
                                    <i class="fa-solid fa-trash-can fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_item' %}" class="new-client-icon">
                <i class="fa-solid fa-boxes-packing"></i>
                </a>
                <span class="tooltip">Adicionar item</span>
            </div>

        </div>
    </div>
{% endblock %}