@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins;
}

form{
    display:flex;
    flex-direction: column;
}


/*
 LINKS LINKS LINKS LINKS LINKS LINKS
*/
a{
    text-decoration: none;
    color: black;
}


/*
 INPUT TEXTAREA
*/
input, textarea{
    outline: none;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border:none;
    width: 23rem;
    height: 35px;
    background: #D8E3F2;
    margin-bottom: 20px;
    -webkit-appearance: none;
}

/* HIDE SPIN BUTTON */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: red;
}

input:required {
  border: 1px solid #0540F2;
}

.errorlist{
    margin: 0;
    margin-left: -35px;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    text-decoration: italic;
    list-style-type: none;
    color: #0540F2;
}

input:focus, textarea:focus{
    outline: 2px solid #0540F2;
    background: none;
}

input:hover, textarea:focus{
    outline: 2px solid #0540F2;
}

textarea{
    min-width: 350px;
    min-height: 200px;
    padding-top: 10px;
}

select{
    outline: none;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border:none;
    width: 350px;
    min-height: 100px;
    background: #D8E3F2;
    margin-bottom: 30px;
}

/*
 ICONS ICONS ICONS ICONS ICONS
*/
/* delete icon */
.fa-trash-can{
    color: #F25252;
    text-decoration: none;
    active: none;
}
.fa-trash-can{
    color: #F25252;
    text-decoration: none;
    active: none;
}

.delete-icon > .fa-regular + .fa-solid,
.delete-icon:hover > .fa-regular {
  display: none;
}
.delete-icon:hover > .fa-regular + .fa-solid {
  display: inline-block;
}

/* edit icon */
.fa-pen-to-square{
    color: #0540F2;
    text-decoration: none;
    active: none;
}
.fa-pen-to-square{
    color: #0540F2;
    text-decoration: none;
    active: none;
}

.edit-icon > .fa-regular + .fa-solid,
.edit-icon:hover > .fa-regular {
  display: none;
}
.edit-icon:hover > .fa-regular + .fa-solid {
  display: inline-block;
}



/*
BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS
*/
button{
    border-radius: 99px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    text-align: center;
    font-family: Poppins, sans-serif;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}


/*LOGIN BUTTON*/
.btn-login{
    background-color: #0540F2;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-login:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}

/*LOGOUT BUTTON*/
.btn-logout{
    background-color: #F25252;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #F25252;
}

.btn-logout:hover{
    background-color: #FFFFFF;
    color: #F25252;
    border: 2px solid #F25252;
}

/* CONFIRM BUTTON */
.btn-confirm{
    background-color: #0540F2;
    color: #FFFFFF;
    border: 2px solid #0540F2;
}

.btn-confirm:hover{
    background-color: #FFFFFF;
    color: #0540F2;
    border: 2px solid #0540F2;
}


/*
    CONTAINER CONTAINER CONTAINER CONTAINER
*/
.container-form{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #FBFBFB;
    width: 30rem;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;

}

.container-descript{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.h2-containter{
    text-align: right;
    width: 80%;
}

.img-form{
    position: relative;
    width: 30em;
    justify-content: center;
}

.container {
    display:flex;
    justify-content: center;
    margin: 5rem;
    column-gap: 10rem;
}