{% extends 'base.html' %}

{% block main %}

<div class="container column">

        <div class="container row" >
            <div class="info-box">
            </div>

            <div class="info-box">
            </div>

            <div class="info-box">
            </div>

            <div class="info-box">
            </div>
        </div>

        <div class="container row">

            <div class="container column">
                <div class="info-box md">
                </div>
                <div class="info-box md">
                </div>
            </div>

            <div class="container column">
                <div class="info-box lg">
                </div>
            </div>

        </div>
</div>
{% endblock %}