{% extends 'base.html' %}

{% load mathfilters %}
{% load humanize %}

{% block title %}
Companies List
{% endblock %}


{% block main %}

    <div class="box-row">
        <!-- Active customers -->
        <div class="info-box">
            <h3 class="h3-info-total">Ordens de serviço</h3>
            <h1 class="h1-info-total">{{ contracts_count }}</h1>
        </div>

        <div class="info-box">
            <h3 class="h3-info-total">Pagamentos pendentes</h3>
            <h2 class="h1-info-total pending">R$ {{ total_pending|floatformat:2|intcomma }}</h2>
        </div>

        <div class="info-box">
            <h3 class="h3-info-total">Pagamentos recebidos</h3>
            <h2 class="h1-info-total">R$ {{ total_received|floatformat:2|intcomma }}</h2>
        </div>


    </div>

    <div class="container">
        <div class="container-list">

            <h2>Ordens de serviço</h2>

            <div>
                <form class="flex right" method="GET">
                        <span class="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        {{ workorder_filter.form.work_order  }}
                        <div class="right">
                            <button class="btn-confirm right">Pesquisar</button>
                        </div>
                </form>
            </div>

            <table class="client-table">

                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Cliente</th>
                        <th>Nome da ordem de serviço</th>
                        <th>Dias desde o início</th>
                        <th>Data de pagamento</th>
                        <th>Nota fiscal</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for qs in workorder_filter.qs %}
                        {% for contract in contracts %}
                            {% if contract == qs %}
                            <tr>
                                <!-- NAME -->
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.status == 'PN'  %}
                                            <span class="pending st">{{ contract.get_status_display }}</span>
                                        {% elif contract.status == 'PD'  %}
                                            <span class="payd st">{{ contract.get_status_display }}</span>
                                        {% else %}
                                            <span class="canceled st">{{ contract.get_status_display }}</span>
                                        {% endif %}

                                    </a>
                                </td>

                                <!-- Client (Displays mainly the company client) -->
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.company_client  %}
                                            {{ contract.company_client }}
                                        {% elif contract.person_client  %}
                                            {{ contract.person_client }}
                                        {% elif contract.person_client and contract.company_client %}
                                            {{ contract.company_client }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </a>
                                </td>

                                <!-- Client (Displays mainly the company client) -->
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.contract_name  %}
                                            {{ contract.contract_name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.status == 'PN'  %}
                                            {{ today |timeuntil:contract.starting_date  }}
                                        {% elif contract.status == 'PD'  %}
                                            <span class="payd st">Pago</span>
                                        {% else %}
                                            <span class="canceled st">Cancelado</span>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.status == 'PD'  %}
                                            {{ contract.payment_date }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}">
                                        {% if contract.invoice  %}
                                            {{ contract.invoice }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </a>
                                </td>


                                <!-- OPTIONS -->
                                <td>
                                    <a href="{% url 'edit_contract' contract.id %}" class="edit-icon">
                                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                    </a>

                                    <a href="{% url 'delete_contract' contract.id %}" class="delete-icon">
                                        <i class="fa-regular fa-trash-can fa-lg"></i>
                                        <i class="fa-solid fa-trash-can fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>

            </table>

            <div class="add-new-client-btn">
                <a href="{% url 'new_contract' %}" class="new-client-icon">
                <i class="fa-solid fa-file-circle-plus"></i>
                </a>
                <span class="tooltip" style="width: 180px; margin-left: 30px;">Adicionar ordem de serviço</span>
            </div>

        </div>
    </div>
{% endblock %}